@media (min-device-width: 320px) {
    .nav-background{
        height: 75vh;
    }
}
@media (min-width: 768px) {
    .nav-background{
        height: 100%;
    }
}
:root{
    --mainBlack: rgba(12, 12, 12, 1);
    --mainWhite: rgba(240, 240, 240, 1);
    --mainGrey: rgba(56, 56, 56, 1);
    --transparent: rgba(0, 0, 0, 0);
    --mainHighlight : rgba(116, 255, 85, 1);
}
html{
    height: 100vh;
    width: 100vw;
    scroll-behavior: smooth;
}
body{
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    padding: 0;
    margin: 0;
}
.content{
    overflow-y: auto;
}

#app{
    max-height: 100vh;
    max-width: 100vw;
    overflow: hidden;
}
.barz{
    position: relative;
    top: 0;
}
.barz:target{

}
.flat-back{
    color: rgb(23, 23, 23);
    height: 100%;
    width: 100%;
    z-index: 0;
    position: absolute;
}
.full-menu{
    position: absolute;
    z-index: 20;
    width: 100vw;
    height: 100vh;
    top: -100vh;
    background-color: var(--mainBlack);
    color: white;
}
.menu-bar{
    background-color: #111111;
    z-index: 25;
    opacity: 0;
}
.menu-row1{
    padding: 1em 0;
}

button{
    cursor: pointer;
}
.hidden-item{
    display: none;
}
.menu-link{
    color: #808080;
    height: 100%;
    width: 100%;
    font-weight: 600;
    transition-duration: 0.3s;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
}
.menu-link:hover{
    color: var(--mainHighlight);
    text-decoration: none;
}
.menu-item{
    text-align: center;
    margin: 1em 0;
}
.full-size{
    height: 100vh;
    width: 100vw;
}
[class*="title-card"]{
    text-align: center;
    padding-top: 0.5em;
    padding-right: 3em;
    opacity: 0;
}
.title-card-l{
    text-align: left;
    padding-right: 3em;
}

.content-1{
    opacity: 0;
    padding-left: 3em;
}
#nav-close{
    position: absolute;
    cursor: pointer;
    right: 1em;
    top: 1em;
    transition-duration: 0.3s;
    font-size: 1.5em;
}
#nav-close:hover{
    color: #373737;

}
#nav-title{
    z-index: 21;
    text-align: center;
    font-size: 4em;
}
#nav-open{
    z-index: 19;
    cursor: pointer;
    position: absolute;
    right: 1em;
    top: 1em;
    transition-duration: 0.3s;
    color: var(--mainGrey);
    font-size: 1.5em;
}
#nav-open:hover{
    color: var(--mainWhite);
}
#nav-open-back{
    z-index: 18;
    cursor: pointer;
    position: absolute;
    right: 1em;
    top: 1em;
    transition-duration: 0.3s;
    color: var(--mainGrey);
    font-size: 1.5em;
}
.svg-trans{
    position: absolute;
    top: 0;
    left: 0;
}
.page-trans{

    color: var(--mainBlack);
    z-index: 30;
}
h1{
    font-weight: 300;
}
h2{
    font-weight: 400;
    font-size: 2.5rem;
    letter-spacing: 4pt;
}

.modern-link{
}

.btn.modern{
    transition-property: all;
    border-radius: 0px;
    background-color: var(--mainBlack);
    color: var(--mainWhite);
    padding: 1rem 2rem;
    font-weight: 600;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
    box-shadow:  0 0 0 0 var(--mainBlack);
    width: 90%;
    
}


.btn.modern:before{
    
}

.btn.modern:hover{
    box-shadow:  0px 0px 0px 1px var(--mainBlack);
    /* border-radius: 7px; */
    padding: 1rem 4rem;
    
    color: var(--mainBlack);
    background-color: var(--transparent);
    transition-duration: 0.3s;
}
.btn.modern.fill:hover{
    width: 100%;
}

.frm.modern{

}
.frm.modern input, .frm.modern textarea{
    border: var(--mainBlack) solid 1px;
    border-radius: 0;
    
    transition-property: all;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
    
    outline: none !important;
}
.frm.modern input:focus, .frm.modern textarea:focus{

    border: var(--mainBlack) solid 1px;
    border-radius: 7px;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;

    background-color: var(--mainBlack);
    color: var(--mainWhite);

    outline: none !important;
    box-shadow: none;
}

.text{
    font-size: 14pt;
}
.pc-link{
    color: var(--mainBlack);
    transition-duration: 0.2s;
    transition-property: all;
    margin: 0 1em;
}
.pc-link:hover{
    color: var(--mainHighlight);
    text-decoration: none;
}


#skills{
    background: var(--mainBlack);
    color: var(--mainWhite);
}
#home{
    background: var(--mainBlack);
    color: var(--mainWhite); 
}
.side-image{
    position: relative;
    left: -5%;
}

.skills-cont{
    display: grid;
    grid-template-columns: 2 45%;
    grid-template-rows: repeat(5, auto);
}
.skill-level{
    display: inline;
    text-align: center;
    margin: auto;
    width: 30px;
    height: auto;
}
.lines{
    fill: none;
    stroke: var(--mainWhite);
    stroke-miterlimit: 10;
    stroke-width: 90px;
    stroke-dashoffset: 2634;
}

@media (max-width: 576px) { 
    .side-image{
        display: none;
    }
}
.tag{
    font-size: 1.5rem;
    margin-right: 1em;
}